<html>
  <head>
    <title>Export Data to Excel</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h1>Export Data to Excel</h1>
    <table id="sag-table">
      <thead>
        <tr>
          <th>Tanggal</th>
          <th>NoMemo</th>
          <th>Perihal</th>
          <th>Pic</th>
        </tr>
      </thead>
      <tbody id="sag-data">
        {{ range .memo }}
        <tr>
          <td>{{ .Tanggal.Format "2006-01-02" }}</td>
          <td>{{ .NoMemo }}</td>
          <td>{{ .Perihal }}</td>
          <td>{{ .Pic }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    <button id="exportMemo-btn">Export to Excel</button>
    <button id="export-all-btn">Export All to Excel</button>
    <button id="updateMemo-btn">Update to Excel</button>
    <button id="updateMemo-all-btn">Update ALL to Excel</button>
    <script>
      document.getElementById("exportMemo-btn").addEventListener("click", function() {
        window.location.href = "/exportMemo";
      });

      document.getElementById("export-all-btn").addEventListener("click", function() {
        window.location.href = "/exportAll";
      });

      document.getElementById("updateMemo-btn").addEventListener("click", function() {
        window.location.href = "/updateMemo";
      });

      document.getElementById("updateMemo-all-btn").addEventListener("click", function() {
        window.location.href = "/updateAllMemo";
      });
    </script>
  </body>
</html>